:root {
    --header-font-color: rgba(255,255,255,1);
    --faded-font-color: rgba(255,255,255,0.4);
    --header-font-size: 20pt;
    --sub-font-size: 16pt;
    --small-font-size: 12pt;
    --light-grey-background: rgba(255,255,255,0.1);
    --medium-grey-background: rgba(255,255,255,0.1);
    --dark-grey-background: rgba(255,255,255,0.75);
    --border-placement: 5%;
}

body {
    margin: 0px;
    overflow: hidden;
    cursor: default;
    background-color: lightgray;
}

.hidden {
    display: none !important;
}

.menu {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 1fr 1fr 8fr;
    grid-column-gap: 0.25%;
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--header-font-color);
}

.menu-item > div{
    font-family: "Ibarra Real Nova", serif;
    overflow-wrap: anywhere;
}

.menu-item > button {
    font-family: "Ibarra Real Nova", serif;
    font-weight: bold;
    background-color: transparent;
    color: var(--header-font-color);
}

.menu-item[data-active=true] {
    background-color: grey;
}

.bold-bottom-border {
    border-bottom-width: 100%;
    border-bottom-style:  solid;
    border-bottom-color:  black;
}

#topics {
    background-color:darkslategrey;
}

#tweets {
    background-color: lightslategray;
}

.topic-item-selected {
    background-color: lightslategray !important;
}

.tweet-item-selected {
    background-color: darkgrey !important;
}

.base-font {
    font-family: "Ibarra Real Nova", serif;
}

.bold {
    font-weight: bold;
}

.clear-background {
    background-color: transparent;
}
.text-editor-menu {
    display: flex;
    flex-direction: row;
}
.text-editor-menu > div {
    cursor:text;
    min-width: 10%;
    overflow-wrap: anywhere;
    margin-right: 2px;
}

.text-editor-container {
    margin-bottom: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    font-family: "Ibarra Real Nova", serif;
    background-color: silver;
}

#text-editor{
    border-color: lightgray;
    background-color: white;
    resize: none;
    flex-grow: 1;

    font-family: "Ibarra Real Nova", serif;
    text-decoration: none;
    text-align: left;

    outline: none;
}

#context-menu {
    background-color: whitesmoke;
    position: absolute;
    font-size: 15px;
    cursor: pointer;
}

#context-menu .context-item {
    border-bottom: 2px solid black;
    padding: 8px, 10px;
    font-size: 15px;
    color: black;
    cursor: pointer;
}

#context-menu .context-item:hover {
    background: lightgray;
}

.not-saved {
    background-color: #ca2b2e !important;
}