:root {
    --header-font-color: rgba(255,255,255,1);
    --faded-font-color: rgba(255,255,255,0.4);
    --header-font-size: 20pt;
    --sub-font-size: 16pt;
    --small-font-size: 12pt;
    --light-grey-background: rgba(255,255,255,0.1);
    --medium-grey-background: rgba(255,255,255,0.1);
    --dark-grey-background: rgba(255,255,255,0.75);
    --border-placement: 5%;
}

body {
    margin: 0px;
    overflow: hidden;
    cursor: default;
}

.menu {
    /* position:fixed; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    overflow: auto !important;
}

.hidden {
    display: none !important;
}

#topics {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 10%;
    max-width: 10%;
    overflow: scroll;
    background-color:darkslategrey;
}
#tweets {
    width: 10%;
    background-color: lightslategray;
}
#new-note {
    width: 100%;;
}

.menu-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.topic-item {
    position: relative;
    left: 5%;
    width: 100%;
    color: lightgray !important;
}
.topic-item-selected {
    background-color: lightslategray !important;
}
.topic-item[data-active=true] {
    background-color: grey;
}
.tweet-item-selected {
    background-color: lightgray !important;
}
.tweet-item[data-active=true] {
    background-color: grey;
}
.base-font {
    color: var(--header-font-color);
    font-family: "Ibarra Real Nova", serif;
}

.bold {
    font-weight: bold;
}
.clear-background {
    background-color: transparent;
}
.text-editor-menu {
    background-color: lightgray;
}
.text-editor-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    background-color: var(--dark-grey-background);
    border-color: transparent;
}
.text-editor {
    border-color: lightgray;
    background-color: lightgray;
}

#text-editor{
    border-color: gray;
    resize: none;
    flex-grow:  1;
    background-color: transparent;

    font-family: "Ibarra Real Nova", serif;
    text-decoration: none;
    text-align: left;

    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#context-menu {
    background-color: gray;
    position: fixed;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

#context-menu .context-item {
    padding: 8px, 10px;
    font-size: 15px;
    color: black;
    cursor: pointer;
    border-radius: inherit;
}

#context-menu .context-item:hover {
    background: lightgray;
}