@function get-background-color($color) {
    @if (lightness($color) < 70%){
        @return gray;
    } @else {
        @return lighten(black, 20%);
    }
}

@function hover-color($color) {
    @return lighten($color, 10%);
}

@function select-color($color) {
    @return lighten($color, 25%);
}

@function font-color($primary-color) {
    @if(lightness(white) - lightness($primary-color)   > 20%) {
        @return white;
    } @else {
        @return black;
    }
}

.hidden {
    display: none !important;
}


$primary-color: darkslategray;
$secondary-color: lighten($primary-color, 20%);
$color-support: lighten($primary-color, 40%);

$background-color: black;
$font-family: "Ibarra Real Nova", serif;
$font-color: font-color($primary-color);


// $header-font-color: rgba(255,255,255,1);
// $faded-font-color: rgba(255,255,255,0.4);
// $header-font-size: 20pt;
// $sub-font-size: 16pt;
// $small-font-size: 12pt;
// $light-grey-background: rgba(255,255,255,0.1);
// $medium-grey-background: rgba(255,255,255,0.1);
// $dark-grey-background: rgba(255,255,255,0.75);
// $border-placement: 5%;