@use 'configure';

@mixin base-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: configure.$font-color;

    div {
        font-family: configure.$font-family;
        overflow-wrap: anywhere;
    }

    button {
        font-family: configure.$font-family;
        font-weight: bold;
        background-color: transparent;
        color: configure.$font-color;
    }
}

@mixin menu-panel($background-color) {
    background-color: $background-color;
    overflow-y: scroll;
    
    &.adding-item {
        background-color: scale-color($color: $background-color, $alpha: -25%) !important;
    }

    &:hover {
        transition: border 0.1s linear;
        border: 1px;
        border-style:groove;
        border-color:blue;
    }

    
    .menu-header {
        border-bottom-width: 100%;
        border-bottom-style:  solid;
        @if(lightness($background-color) > 20%) {
            border-bottom-color: black;
        } @else {
            border-bottom-color: white;
        };

        div {
            font-weight: bold;
        }
        @include base-item;
    }

    .menu-item {
        @include base-item;

        &[data-active=true] {
            background-color: configure.hover-color($background-color);
        }

        &.hover:hover {
            background-color: configure.hover-color($background-color);
            
            // button {
            //     display: inline !important;
            // }
        }

        .name-label[contentEditable=true]:empty::before {
            content: attr(data-text) !important;
        }
    }

    .selected {
        background-color: configure.select-color($background-color) !important;
    }

    // .selected[contentEditable=true]:empty:focus::before {
    //     content: attr(data-text)
    // }
}

.menu {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 1fr 1fr 8fr;
    // grid-column-gap: 0.25%;
    
    .topics {
        @include menu-panel(configure.$primary-color);
    }

    .tweets {
        @include menu-panel(configure.$secondary-color);
    }

    .text-editor-container {
        & .text-editor-menu:hover {
            transition: border 0.1s linear;
            border: 1px;
            border-style:groove;
            border-color:blue;
        }
    }
}

