$background-color: #5C3D50;
$primary-color: #D6863F; 
$dark-accent-color: #DC6E75;
$light-accent-color: #F4A873;
$light-background-color: #F1F1E0;

$card-colors: (
    1: $dark-accent-color,
    2: $primary-color,
    3: $light-accent-color,
    4: $dark-accent-color,
    5: $primary-color
);