$background-color: #334783;
$primary-color: #53DCBD; 
$dark-accent-color: #2E72BD;
$light-accent-color: #856C6E;
$light-background-color: #F5E6BA;

$card-colors: (
    1: $dark-accent-color,
    2: $primary-color,
    3: $light-accent-color,
    4: $dark-accent-color,
    5: $primary-color
);












