@use "sass:map";
@use "./theme4";

// Import Bootstrap's CSS
// scss-docs-start import-stack
// Configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Layout & components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";

// Helpers
@import "~bootstrap/scss/helpers";

// Utilities
@import "~bootstrap/scss/utilities/api";
// scss-docs-end import-stack


$custom-theme-colors: (
    "background-color": theme4.$background-color,
    "primary-color": theme4.$primary-color, 
    "dark-accent-color": theme4.$dark-accent-color,
    "light-accent-color": theme4.$light-accent-color,
    "light-background-color": theme4.$light-background-color,
    "card-colors": theme4.$card-colors
);

.topic {
    background-color: tint-color(map.get($custom-theme-colors, "light-background-color"), 80%);
    color: color-contrast(map.get($custom-theme-colors, "light-background-color"));

    cursor: pointer;

    user-select: none;

    &.active {
        background-color: map.get($custom-theme-colors, "light-background-color") !important;
    }

    &:hover{
        transform: scale(1.05);
    }

}

.drag-over {
    cursor: none !important;
    transform: scale(1.05);
    border-color: black;
    filter: brightness(75%);

    &#trash-btn {
        background-color: red;
    }
}

.card {
    cursor: pointer;
    color: color-contrast(map.get($custom-theme-colors, "dark-accent-color"));
    background-color: map.get($custom-theme-colors, "dark-accent-color");

    .card-header {
        cursor: text;
        background-color: map.get($custom-theme-colors, "light-background-color");
        color: color-contrast(map.get($custom-theme-colors, "light-background-color"));
    }

    p {
        background-color: tint-color(map.get($custom-theme-colors, "dark-accent-color"), 0%);
        cursor: text;
    }

    &:hover{
        transform: scale(1.05);
    }
}

.modal {
    color: black;
}

.hidden {
    display: none;
}

body {
    color: color-contrast(map.get($custom-theme-colors, "background-color"));
    background-color: map.get($custom-theme-colors, "background-color");
}